<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="FORGE_CLIENT_ID" value=""/>
    <add key="FORGE_CLIENT_SECRET" value=""/>
    <add key="AWSProfileName" value="Madhukar"/>
    <add key="AWSRegion" value="us-west-2"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
